.header-fix {
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  
  .header-container {
    width: 1024px;
    margin: auto;
  }
  h1 {
    margin-left: 36px;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    
  }
  .container {
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
  }
  th, td {
    text-align: left;
  }
  aside {
    float: right;
    width: 25%;
    margin-left: 1%;
    margin-right: 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbbbbb;
    background-color: white;
    
  }

  aside h3 {
    margin-bottom: 0;
  }
  
  aside ul {
    margin-top: 10px;
  }
  
  article {
    text-align:justify
  }
  

  thead th.tbody td {
    text-align: left;
    vertical-align: bottom;
  }

  article {
    text-align: justify;
  }
  
  .withStyle {
    width: 71%;
    border-collapse: collapse;
    border: 2px solid #597aed;
    background-color: #3d4bff;
   font-family: 'Shadows Into Light', cursive;
  }
 
  table.withStyle thead th:nth-child(1) {
    width: 35%;
  }
  table.withStyle thead th:nth-child(2) {
    width: 20%;
  }
  table.withStyle thead th:nth-child(3) {
    width: 20%;
  }
  table.withStyle thead th:nth-child(4) {
    width: 25%;
  }
  table.withStyle thead tr, table.withStyle tfoot tr {
  color: white;
  font-size: 1.5em;
  text-align: left;
  background-image: url('bg-table.jpg');
}
table.withStyle thead th,table.withStyle tbody td,table.withStyle tfoot td {
  margin-right: 5px;
  padding: 15px;
}
table.withStyle tbody tr:nth-child(odd) {
  background-color: #9ca2ce;
}
table.withStyle tbody tr:nth-child(even) {
  background-color: #7d87e6;
}
table.withStyle tbody th {
  color: #f2f1ec;
  font-size: 1.2em;
}
table.withStyle caption{
  font-size: 1.5em;
  padding: 20px;
  font-style: italic;
  color: #0041c3;
  text-align: right;
  letter-spacing: 1px;
  caption-side: bottom;
  
}

.datatable-container{
  width: 71%;
}

.datatable-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.datatable-header-footer{
  display: flex;
  padding-left: 405px;
}

.datatable-container table{
  width: 100%;
  background-color: #ccc;
  border: 1px solid #bbb;
  border-collapse: collapse;
}

.datatable-container table thead th{
  font-size: 1.15em;
  font-weight: bold;
  margin: 5px;
  color: #2b2b2b;
  text-align: center;
  background-color: #ccc;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}


.datatable-container table thead tr th.sort_asc{  
  background-image: url(sort_asc.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.datatable-container table thead tr th.no_sort{ 
  background-image: url(sort_both.png);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.datatable-container table caption{
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: italic;
  caption-side: top;
  color: #0041c3;
  text-align: center;
  letter-spacing: 1px;
  background-color: #ccc;
  border-top: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}

.datatable-container table tbody tr{
  text-align: center;
  
}

.datatable-container table tbody td{
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.datatable-container table tbody th{
  text-align: center;
}

.datatable-container table tbody tr:nth-child(odd){
  background-color: #ddd;
}

.datatable-container table tbody tr:nth-child(even){
  background-color: #eee;
}

.datatable-container table tfoot td{
  padding-top: 5px;
  padding-bottom: 5px;
  
  
}
.datatable-container table tfoot td{
  
  font-weight: bold;
  text-decoration: underline;
}

.datatable-container table tfoot th{
  text-align: right;
  border-right: 1px solid #bbb;
  padding-right: 10px;
}

.datatable-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.datatable-footer-paginator{
  display: inline-flex;
}

.datatable-footer .datatable-footer-pagnination{
  display: flex;
  padding-left: 335px;
  list-style: none;
  border-radius: 25em;
  margin-top: 15px;
  cursor: pointer;
  padding-bottom: 15px;
}

.datatable-footer a{
  position: relative;
  display: block;
  padding: 0.3rem 0.6rem;
  margin-left: -1px;
  color: #0041c3;
  background-color: #fff;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.datatable-footer a.disabled{
  color: #bbb;
}

.datatable-footer a.active{
  color: white;
  background-color: #0041c3;
}

.datatable-footer .pagelast-child .link{
  border-top: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0;

}

footer{
  font-size: 8px;
  text-align: center;
}